.card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 360px;
  padding: 30px;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 5px 20px rgba(27, 108, 114, 0.25);

  &::before {
    content: '';
    left: 10px;
    bottom: -10px;
    z-index: -1;
    width: calc(100% - 20px);
    height: 100%;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 5px 20px rgba(27, 108, 114, 0.25);
    border-radius: 6px;
  }

  &-city {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;

    span {
      display: inline-block;
      background: #E5464F;
      border-radius: 6px;
      padding: 3px 5px;
      color: #fff;
      font-weight: 500;
      font-size: 12px;
      line-height: 1;
      vertical-align: text-top;
    }
  }

  &-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-value {
    font-size: 92px;
    line-height: 1;
    color: #000;

    sup {
      font-size: 50%;
    }
  }

  &-description {
    font-size: 20px;
    line-height: 1.2;
  }
}

