.header {
  padding: 40px 15px 50px;
  background: linear-gradient(92.7deg, #4CB8C4 0%, #3CD3AD 100%), #232323;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 20px;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 44px;
  line-height: 1.18;
  text-align: center;
  color: #FFFFFF;
}

.form {
  width: 460px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  height: 54px;
}

.input {
  flex-grow: 1;
  padding: 15px;
  font-weight: 300;
  line-height: 1;
  font-size: 20px;
  color: #000;
}

.btn {
  color: white;
  width: 145px;
  height: 54px;
  background: #ED3052;
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  transition: background-color 0.2s ease-in;

  &:hover {
    background: #f5313b;
  }
}
